body 
{
    margin: 0; 
    font-family: Arial, sans-serif; 
    line-height: 1.5; 
    background-color: rgb(230, 242, 255); 
    color: #333; 
}


.header 
{
    text-align: center; 
    padding: 20px; 
    background-color: rgb(30, 75, 112); 
    color: white; 
}


.navigation 
{
    display: flex; 
    justify-content: center; 
    background-color: rgb(47, 89, 134); 
    padding: 10px 0; 
}

.navigation a 
{
    color: white; 
    text-decoration: none; 
    padding: 0 15px; 
    font-weight: bold; 
    
}

.navigation a:hover 
{
    text-decoration: underline; 
    color: rgb(139, 197, 247);
}

main
{
    padding: 20px;
}

.content-section
{
    margin-bottom: 20px; 
    padding: 20px; 
    background-color: white; 
    border-radius: 8px; 
    text-align: center;
}

.content-section-courses 
{
    margin-bottom: 20px; 
    padding: 20px; 
    background-color: white; 
    border-radius: 8px; 
}

.content-section h2 
{
    margin-top: 0; 
    color: rgb(30, 75, 112); 
}


.footer 
{
    text-align: center; 
    padding: 10px; 
    background-color: rgb(30, 75, 112); 
    color: white; 
    width: 100%; 
}

  main img 
  {
    height: 300px;
    width : 600px;  
  }  

  section h2
  {
    font-weight: bold;
    text-decoration: underline;
  }

  section h6
  {
    font-weight: bold;
  }

  
  
  ul li
  {
    font-weight: bold;
  }
